
body {
  margin: 0;
  overflow: hidden;
}

/* Force camera video to be centered and fixed in size */
body video {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  width: 100vw !important;
  height: 100vh !important;

  aspect-ratio: 9 / 16;
  max-width: 100%;
  max-height: 100%;

  object-fit: contain !important;
  background-color: black !important;

  z-index: -2 !important;
  pointer-events: none !important;
}


/* Optional: Add pulse animation to scanner */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.08);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* Animation */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}

.map-overlay {
  transform-origin: left center;
  transform: rotateY(-90deg) scale(0.9);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.4s ease;
  pointer-events: none;
  position: absolute;
  width: 400px;
  height: 300px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.map-overlay.show {
  transform: rotateY(0deg) scale(1);
  opacity: 1;
  pointer-events: auto;
}



#map {
  width: 100%;
  height: 100%;
}