
body {
  margin: 0;
  overflow: hidden;
}

/* Force camera video to be centered and fixed in size */
body video {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 auto !important;
  z-index: -2 !important;
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
}

/* Make the scanner box bigger and centered */
.mindar-ui-overlay .scanning {
  width: 900px !important;
  height: 1080px !important;
  border: 3px dashed #01a451;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  background: rgba(255, 255, 255, 0.04);
  animation: pulse 1.8s ease-in-out infinite;
  margin: auto;
}

/* Optional: Add pulse animation to scanner */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.08);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* Animation */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}

.map-overlay {
  width: 400px;
  height: 300px;
  position: absolute;
  z-index: 999;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  background: white;
  display: none;
}

.map-overlay.show {
  display: block;
  animation: slideUp 0.5s ease forwards;
}


#map {
  width: 100%;
  height: 100%;
}